<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>YoTu {{title}}</title>
</head>

<body>
    <div>
        {{> header}}
    </div>
    <div>
        <p>Video not found!</p>
    </div>
</body>

</html>