<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>YoTu {{title}}</title>
    <script src="/js/search.js"></script>
</head>

<body>
    <div>
        {{> header}}
    </div>
    <form>
        <input type="text" id="inSearch" name="inSearch" size="50" required
            placeholder="Search by name, description, tag or uploader" /><br>
        <button>Go!</button>
    </form>
    <div>
        <table>

        </table>
    </div>
</body>

</html>