<!DOCTYPE html>
<html>

<head>
    <script src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script src="/js/upload.js"></script>
</head>

<body>
    <div>
        {{>header}}
    </div>
    <form>
        <label for="inName">Video name:</label>
        <input type="text" id="inName" name="inName" placeholder="Video name" required value=""/><br>
        <label for="inDescription">Description:</label>
        <input type="text" id="inDescription" name="inDescription" placeholder="Video description"  value=""/><br>
        <label for="inUploader">Your email:</label>
        <input type="email" id="inUploader" name="inUploader" placeholder="email@example.com" required value=""/><br>
        <label for="inTags">Tags:</label>
        <input type="text" id="inTags" name="inTags" placeholder="Tags (separated by coma)" value="" /><br>
        <label for=""></label>
        <input type="BUTTON" value="Pick video" id="filestack" onclick="pickVideo()" value=""><br>
        
        <button>Upload</button>
    </form>
</body>

</html>